/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Open san', sans-serif;
}

nav{
	background-color: white;
	height: 60px;
	position: sticky;
	top: 0;
}

li{
	display: inline-block;
}

nav .nav{
	margin: 0.5rem;
}

.nav-logo{
	padding: 0.8rem;
	padding-left: 5rem;
}

.right-nav{
	padding-top: 0.3rem;
	padding-right: 5rem;
	float: right;
}

.tuitt-button{
	background-color: #C2195B;
	border-radius: 20px;
	padding: 0.5rem;
	padding-left: 15px;
	padding-right: 15px;
	border-color: transparent;
	color: white;
}

#bg-image{
	min-height: 45vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	color: white;
}

.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 45vh;
}

.title {
    font-size: 2.8rem;
    font-family: 'Zilla Slab',serif;
    font-weight: 600;
    color: white;
	text-align: right;
	padding-top: 1rem;
	padding-bottom: 2rem;
	width: 90%;
}

.subtitle{
	font-size: 1.5rem;
	font-family: 'Open Sans',;
	font-weight: 200;
	color: white;
	width: 90%;
	font-size: 20px;
	padding-left: 40rem;
	padding-bottom: 10px;
}

.container{
	text-align: right;
}

.apply-button{
	background-color: #C2195B;
	border-radius: 20px;
	padding: 0.5rem;
	border-color: transparent;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

#bg-image button{
	margin-right: 10%;
}


.book-button{
	background-color: #336589;
	border-radius: 20px;
	padding: 0.5rem;
	padding-left: 30px;
	padding-right: 30px;
	border: 2px solid transparent;
	color: white;
	margin-bottom: 100px;
}

.intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.title-2{
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
	margin-bottom: 5rem;
}

.intro-description{
	text-align: justify;
}

.pre-footer{
	background-color: #F7FBFB;
	text-align: center;
	padding-top: 5rem;
}

.prefooter-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 12px;
}


footer{
	text-align: center;
}
